@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'MinSans';
  src: url('/font/MinSansVF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* 전역 적용 예시 */
body {
  font-family: 'MinSans', sans-serif;
}

/* prose 문단 간격 조정 */
.prose p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose ul,
.prose li,
.prose ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* 인용구 */
.prose blockquote {
  border-left: 4px solid #6366f1;
  padding: 0.5rem;
  color: #374151;
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f9fafb;
}

/* 다크모드 대응 */
.dark .prose blockquote {
  color: #e5e7eb;
  background-color: #1f2937;
}

/* 코드 블록 스타일 */
pre {
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 0.5rem 0;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  code {
    font-size: 0.875rem;
  }
}

/* 코드 블록 내부 코드 */
pre > code {
  display: block;
  background: none;
}

/* 인라인 코드 */
:not(pre) > code {
  background-color: #374151;
  padding: 0.125rem 0.3rem;
  border-radius: 0.25rem;
  font-size: 0.8em;
  color: #ececec;
}

:not(pre) > code::before,
:not(pre) > code::after {
  content: none !important;
}

/* 다크모드 대응 */
.dark pre {
  background-color: #22272e !important;
}

.dark :not(pre) > code {
  background-color: #374151;
  color: #f3f3f3;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #818cf8;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 5px;
}

/* 가로 스크롤 숨기기 */
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
